POSTGRES_USER=backup_user
POSTGRES_PASSWORD=backup_pass
POSTGRES_DB=backtobackup

DB_HOST=localhost
DB_PORT=5432

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio

MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

JWT_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_REGISTER_DEVICE_SECRET=your_jwt_register_device_secret
JWT_DEVICE_SECRET=your_jwt_device_secret
JWT_DEVICE_REFRESH_SECRET=your_jwt_device_refresh_secret